header {
            background-image: url('header_background.jpg');
            background-size: cover;
            background-position: center;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            text-align: center;
        }


        nav {
            background-color: #333;
            padding: 10px;
        }

        nav ul {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
        }

        nav ul li {
            display: inline;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            font-size: 18px;
        }


        nav ul li a:link {
            color: white;
        }
        nav ul li a:visited {
            color: purple;
        }
        nav ul li a:active {
            color: red;
        }

        nav ul li a:hover {
            background-color: #555;
            border-radius: 5px;
        }



