


        header {
            background-image: url('header_background.JPG');
            background-size: cover;
            background-position: center;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            text-align: center;
        }


        nav {
            background-color: #333;
            padding: 10px;
        }

        nav ul {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
        }

        nav ul li {
            display: inline;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            font-size: 12px;
        }


        nav ul li a:link {
            color: white;
            /*transition: background-color 0.5s;*/
        }
        nav ul li a:visited {
            color: rgb(255,0,255);
        }
        nav ul li a:active {
            color: red;
        }

        nav ul li a:hover {
            background-color: #555;
            border-radius: 5px;
        }

        @media only screen and (max-width:400px) {
            nav ul li a{
                font-size: 12px;
            }

        }
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 20px 0;
            margin-top: 20px;
        }

        .content {
            padding: 20px;
        }

        .gallery {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }        
        .gallery div {
            width: 30%;
            padding: 10px;
            background-color: #f0f0f0;
        }
        .gallery img {
            width: 100%;
            height: auto;
            display: block;
        }
        .gallery p {
            margin-top:25px;
        }

